 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master of Science in Computer Science</h4>
    <h5 class="meta">The University of Texas at Dallas&amp; Applied Science, Ahmedabad University</h5>
    <div class="time">2018 - 2020 (expected)</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.Tech - ICT (Information &amp; Communication Technology)</h4>
    <h5 class="meta">School of Engineering &amp; Applied Science, Ahmedabad University</h5>
    <div class="time">2013 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">HSC</h4>
    <h5 class="meta">School of Achievers, Gandhinagar</h5>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">SSC</h4>
    <h5 class="meta">Sheth C.M. School, Gandhinagar</h5>
    <div class="time">2010 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
