<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Assistant</h3>
                            <div class="time">August 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <br>Advisor: Dr. Sanjay Chaudhary & Dr. Ratnik Gandhi
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>An Automated Matchmaking Platform for Job Hunting & Hiring process</li>
                        <li>Performed data gathering, cleaning and analysis duties</li>
                        <li>Implemented Machine Learning Algorithms for better Recommendation </li>
                        <li>Created Ontology for domain knowledge representation</li>
                        <li>Developed various modules to enhance the performance & the quality</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">January 2017 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Engineering & Applied Science, Ahmedabad University
                          <!-- <br>Advisor: Dr. Sanjay Chaudhary & Dr. Ratnik Gandhi -->
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      Object Oriented Programming Lab
                    </div><!--//details-->
                </div><!--//item-->



            </section><!--//section-->
