<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">QpiC : Querying Platform with VM Integration on Cloud</h3>
                <div class="time">Sep 2016 - Dec 2016</div>
            </div><!--//upper-row-->
            <div class="company">School of Engineering & Applied Science, Ahmedabad University
              <br>Advisor: Dr. Sanjay Chaudhary
            </div>
        </div><!--//meta-->
        <div class="details">

            <li>A cloud-based platform which is SaaS and IaaS</li>
            <li>Users can complex SPARQL queries on OWLs ontologies using WebPy</li>
            <li>Support for Multi-Tenancy and Caching of frequent query results</li>
            <li>Perform Instant Query or upload your own ontology and Queries</li>
            <li>Automated VM Load prediction using Linear Regressive model and balancing using
            Xen-API</li>

        </div><!--//details-->
    </div><!--//item-->


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Face Recognition & Tracking on Real-Time Video</h3>
                <div class="time">Feb 2016 - Apr 2016</div>
            </div><!--//upper-row-->
            <div class="company">School of Engineering & Applied Science, Ahmedabad University
              <br>Dr. Ratnik Gandhi & Dr. Mehul Raval
            </div>
        </div><!--//meta-->
        <div class="details">

            <li>Literature survey and analysis of various face detection and recognition algorithms.</li>
            <li>Implemented of Face Detection, Tracking or Recognition for input streaming video using haar-cascade using OpenCV and Python (45+ fps).</li>
            <li>Implemented PCA-LDA, ILDA for Face-Recognition on GPU using PyCUDA and Sci-Kit CUDA.</li>

        </div><!--//details-->
    </div><!--//item-->


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">	Library Application for University</h3>
                <div class="time">Feb 2016 - Apr 2016</div>
            </div><!--//upper-row-->
            <div class="company">School of Engineering & Applied Science, Ahmedabad University
              <br>Mr. Pratik Munshi
            </div>
        </div><!--//meta-->
        <div class="details">

            <li>Developed Prototype of Library Application in Android Mobile Platform to make the job of students, faculty and Library admins easier.</li>
            <li>Automated the process of generating various types reports for admin and higher authorities.</li>
            <li>Used Google's Firebase to synchronize and save data.</li>

        </div><!--//details-->
    </div><!--//item-->


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Operating System for IoT in Home</h3>
                <div class="time">Apr 2015 - Nov 2015</div>
            </div><!--//upper-row-->
            <div class="company">School of Engineering & Applied Science, Ahmedabad University
              <br>Advisor: Dr. Sanjay Chaudhary
            </div>
        </div><!--//meta-->
        <div class="details">
          <li>Created a back-end Operating System to provide a platform for IoT Devices</li>
          <li>Signal Handling for Alarms and Timers to provide communication among devices on socket level using POSIX Threads (Pthreads) API in C</li>
          <li>Using P2P and Cloud architecture, total 9 computers mimicked actual devices to demonstrate Internet of Things</li>
          <li>This project was inspired by Google's "Project Brillo" with OS "Weave"</li>
        </div><!--//details-->
    </div><!--//item-->


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">University Database</h3>
                <div class="time">Jan 2015 - Apr 2015</div>
            </div><!--//upper-row-->
            <div class="company">School of Engineering & Applied Science, Ahmedabad University
              <br>Dr. Sanjay Chaudhary
            </div>
        </div><!--//meta-->
        <div class="details">
          <li>Developed database for university which manages student related data across multiple colleges.</li>
          <li>Used MySQL workbench.</li>
          <li>Generated grades of each students through sql programming based on grade matrix  of individual course stored in database. Also answered some complex questions related to students through sql queries.</li>
        </div><!--//details-->
    </div><!--//item-->

            </section><!--//section-->
