<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Research Publications</h2>

  <div class="details">
      <li>
        A Chaudhary, M Jobanputra, S Shah, R Gandhi, S Chaud- hary, R Goswami, ”Automated Human Capital Management System”, IEEE International Systems Conference, 2018
      </li> 
    <li>
      M Jobanputra, A Chaudhary, S Shah, R Gandhi ”Real-time Face Recognition in HD Videos: Algorithms and Framework”, IEEE International Systems Conference, 2018>
  </li>
    </div>
  <div class="summary">
    <ul>
      </ul>

    <ul>
      </ul>
  </div><!--//summary-->

</section><!--//section-->
