<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>

  <div class="summary">
    <ul>
      A Chaudhary, M Jobanputra, S Shah, R Gandhi, S Chaudhari, R Goswami, “Automated Human Capital Management System”, in Submitted to The 12th Annual IEEE International Systems Conference
    </ul>

    <ul>
      M Jobanputra, A Chaudhary, S Shah, R Gandhi "Real-time Face Recognition in HD Videos: Algorithms and Framework”, in Submitted to The 12th Annual IEEE International Systems Conference
    </ul>
  </div><!--//summary-->

</section><!--//section-->
